<header class="container">
  <div>
    <a href="/">
      <img src="/images/SpillStudiesLogo.png" alt="Website Logo" /
      class="logo-img"></a
    >
  </div>

  <nav class="navbar">
    <ul class="navlinks">
      <li>
        <a href="/courses"><img src="/images/Courses.png" alt="Courses" /></a>
      </li>
      <li>
        <a href="/instructors"
          ><img src="/images/Instructors.png" alt="Instructors"
        /></a>
      </li>
      <li>
        <a href="/events"
          ><img src="/images/Events.png" alt="live sessions & events"
        /></a>
      </li>
      <li>
        <a href="/faq"><img src="/images/FAQ.png" alt="FAQ" /></a>
      </li>
      <li>
        <a href="/contact"
          ><img src="/images/Contact Us.png" alt="Contact Us"
        /></a>
      </li>
    </ul>
  </nav>
</header>
