<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpillStudies</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="container">
      <h2>Live Sessions this week:</h2>
      <div>
        <img src="/images/example_1.png" alt="" />
        <h1
          style="
            position: relative;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
          "
        >
          PASSION!
        </h1>
        <p
          style="
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: blanchedalmond;
          "
        >
          Our teachers have a passion for teaching the next generation and are
          all well educated in their respective studies.
        </p>
      </div>
    </main>
  </body>
</html>
